<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cunion.mapper.PostActClassMapper">
    <select id="searchAllPostClass" resultType="HashMap">
        select id, act_class_name As name, picture from post_act_class where is_deleted = 0;
    </select>

</mapper>
