<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cunion.mapper.TagMapper">

    <select id="searchTagById" parameterType="String" resultType="HashMap">
        select * from tag where id = #{id} and is_deleted = 0;
    </select>
    <select id="searchTagByClassId" parameterType="String" resultType="HashMap">
        select * from tag where class_id = #{classId} And is_deleted = 0;
    </select>

</mapper>
